body.debug {
  background-size: 2em 2em;
  background-image:
    linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 3px;
  background: #d3d3d3;
  outline: none ;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid white 2px;
  background: gray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid white 2px;
  background: gray;
  cursor: pointer;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-messages: {
  /* max-height: calc(100vh - 7em); */
}

.chat-message {
  background: gray;
  padding: 1em 1.5em 0.2em 1.5em;
  margin: 0.1em;
}

.chat-self {
  align-self: flex-end;
  border-radius: 1.5em 1.5em 1em 1.5em;
  background: #5A7A8F;
}

.chat-other {
  align-self: flex-start;
  border-radius: 1.5em 1.5em 1.5em 1em;
  background: #1D2E3D;
}

.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000000;
}

.scrollbar::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.menu-active {
    color: #06FF6E;
}

h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    line-height: 2em;
}

.grape-nuts-regular {
  font-family: "Grape Nuts", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}


.lexend-big {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.lexend-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 32px;
}


::placeholder {
    color: #777777 !important;
}

/* app.css */
.f-white {
    background-color: #FFFFFF;
    color: black;
    border-color: black
  }
  .f-white .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-black {
    background-color: #000000;
    color: white;
    border-color: white
  }
  .f-black .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-purple {
    background-color: #C79BFF;
    color: black;
    border-color: black
  }
  .f-purple .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-indigo {
    background-color: #5155C1;
    color: white;
    border-color: white
  }
  .f-indigo .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-blue {
    background-color: #60ACF1;
    color: black;
    border-color: black
  }
  .f-blue .btn:hover {
    background-color: black;
    color: white
  }
  
  .g-green {
    background-color: #51C171;
    color: white;
    border-color: white
  }
  .g-green .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-yellow {
    background-color: #FFBB54;
    color: black;
    border-color: black
  }
  .f-yellow .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-orange {
    background-color: #FF6854;
    color: black;
    border-color: black
  }
  .f-orange .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-red {
    background-color: #FF5754;
    color: white;
    border-color: white
  }
  .f-red .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-pink {
    background-color: #F99DAB;
    color: black;
    border-color: black
  }
  .f-pink .btn:hover {
    background-color: black;
    color: white
  }
