body.debug {
  background-size: 2em 2em;
  background-image:
    linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 3px;
  background: #d3d3d3;
  outline: none ;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid white 2px;
  background: gray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid white 2px;
  background: gray;
  cursor: pointer;
}

h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    line-height: 2em;
}

.grape-nuts-regular {
  font-family: "Grape Nuts", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}


.lexend-big {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.lexend-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 32px;
}


::placeholder {
    color: #777777 !important;
}

/* app.css */
.f-white {
    background-color: #FFFFFF;
    color: black;
    border-color: black
  }
  .f-white .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-black {
    background-color: #000000;
    color: white;
    border-color: white
  }
  .f-black .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-purple {
    background-color: #C79BFF;
    color: black;
    border-color: black
  }
  .f-purple .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-indigo {
    background-color: #5155C1;
    color: white;
    border-color: white
  }
  .f-indigo .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-blue {
    background-color: #60ACF1;
    color: black;
    border-color: black
  }
  .f-blue .btn:hover {
    background-color: black;
    color: white
  }
  
  .g-green {
    background-color: #51C171;
    color: white;
    border-color: white
  }
  .g-green .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-yellow {
    background-color: #FFBB54;
    color: black;
    border-color: black
  }
  .f-yellow .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-orange {
    background-color: #FF6854;
    color: black;
    border-color: black
  }
  .f-orange .btn:hover {
    background-color: black;
    color: white
  }
  
  .f-red {
    background-color: #FF5754;
    color: white;
    border-color: white
  }
  .f-red .btn:hover {
    background-color: white;
    color: black
  }
  
  .f-pink {
    background-color: #F99DAB;
    color: black;
    border-color: black
  }
  .f-pink .btn:hover {
    background-color: black;
    color: white
  }